*{
  margin: 0;
  padding: 0;  
}
.login{
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
}
.box{
    width: 400px;
    height: 350px;
    border-style: solid;
    border-color: blue;
    margin: auto;
    padding-top: 30px;
    position: relative;
    top: 65px;
    background-color: darkblue;


}
.welcome{
    width: 175px;
    height: 35px;
    margin: auto;
    border-style: solid;
    border-color: blue;
    text-align: center;
    padding-top: 8px;
    border-radius: 25px;
    background-color: darkred;


}
.box input[type="text"],input[type="password"]{
    width: 270px;
    height: 30px;
    margin: 30px; 
    margin: 5px 55px 5px 55px;
    text-align: center;
    border-style: solid;
    border-color: aqua;
    border-width: 3px;
    border-radius: 25px;
    position: relative;
    top: 25px;


}
.box input[type="sumbit"]{
    width: 100px;
    height: 40px;
    text-align:center;
    position: relative;
    top: 55px;
    left: 150px;
    border-radius: 25px;
    

}
.facebooklogin{
    width: 270px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    top: 90px;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
}
.facebooklogin a{
    color:aliceblue;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
